<%- include('partials/header') %>

<h1><%= titulo %></h1>
<p>Este es un espacio de pruebas para ir aprendiendo a hacer webs con Node.js.</p>
<a href="/">Volver al inicio</a>

<%- include('partials/footer') %>