<%- include('partials/header') %>

<h1 class="titulo">Bienvenido a mi Sandbox</h1>
<p class="centrado">Este es un espacio para probar y aprender sobre desarrollo web dinámico.</p>

<%- include('partials/footer') %>
